@keyframes show { /* Ваша анимация */
  from { opacity: 0; transform: translateY(50%); }
  to { opacity: 1; transform: translateY(0); }
}
.hero__title {
    font-size: 140px;
    font-weight: 500;
    line-height: 140px;
    max-width: 60%;
    animation: show 1500ms ease-out forwards;
}